*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.costumeBg{
    background-color: rgba(255, 255, 255, 0.1);
}

.hero{
  height: 100vh;
  background: url(./assetshero/hero-6.jpg) center center/cover no-repeat;
  background-attachment: fixed;
  object-fit: contain;
}

